#!/usr/bin/env bash

# Load parent environment
source_up

# Pre-commit
[ -f .git/hooks/pre-commit ] || pre-commit install

# Loads environment variables
[ -f .env ] || cp .env.example .env
dotenv .env
